<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467190161889-8nltuboecdf6gme78kaepq4pgqos22ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467190161889-8nltuboecdf6gme78kaepq4pgqos22ul</string>
	<key>API_KEY</key>
	<string>AIzaSyDbsl1kiTG0CgizlrXkGASVvqmfLKHmZpI</string>
	<key>GCM_SENDER_ID</key>
	<string>467190161889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWallSociaApp</string>
	<key>PROJECT_ID</key>
	<string>the-wall-social-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-social-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467190161889:ios:232f99750024a25218b2a0</string>
</dict>
</plist>